@model MyPortofolio.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<section id="loginForm">
    <h2>Log in to BMBSolution</h2>
    @using (Html.BeginForm(new {ViewBag.ReturnUrl })) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Log in Form</legend>
            <div class="Editor-label">
            @Html.LabelFor(m => m.UserName)            
            </div>
            <div class="Editor-field">
            @Html.TextBoxFor(m => m.UserName)
            @Html.ValidationMessageFor(m => m.UserName)
            </div>
            <div class="Editor-label">
            @Html.LabelFor(m => m.Password)            
            </div>
            <div class ="Editor-field" >
            @Html.PasswordFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div class="Editor-label">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </div>
            <p>
                <input type="submit" value="Log in"/>
            </p>
            
        </fieldset>
        <p>
            @Html.ActionLink("Register", "Register") if you don't have an account.
        </p>
    }
</section>

<section class="social" id="socialLoginForm">
    <h2>Bientot un defiler de photo </h2>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
