@model MyPortofolio.Models.UserAccount
@{
    ViewBag.Title = "Register";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Create a new account.</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <div class="Editor-label">
           @Html.LabelFor(m => m.UserName)
         </div>
         <div class="Editor-field">
           @Html.TextBoxFor(m => m.UserName)
           @Html.ValidationMessageFor(m => m.UserName)
        </div>
        <div class="Editor-label">
            @Html.LabelFor(m => m.Password)
        </div>
        <div class="Editor-field">
            @Html.PasswordFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <div class="Editor-label">
            @Html.LabelFor(m => m.ConfirmPassword)  
        </div>
        <div class="Editor-field">
            @Html.PasswordFor(m => m.ConfirmPassword)
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>
        <div class="Editor-label">
            @Html.LabelFor(m => m.Fullname)  
        </div>
        <div class="Editor-field">
            @Html.TextBoxFor(m => m.Fullname)
            @Html.ValidationMessageFor(m => m.Fullname)
        </div>
        <div class="Editor-label">
            @Html.LabelFor(m => m.Email)  
        </div>
        <div class="Editor-field">
            @Html.TextBoxFor(m => m.Email)
        </div>
        <P>
            <input type="submit" value="Register" />
        </P>  
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
